.powerfull {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(233, 255, 255);

padding-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 290%;
  padding-bottom: 10%;
  right: 1%;
  left: 1%;
  z-index: 10;
}
.phone1 {
  height: 600px;
  width: 400px;
  margin-left: 20%;
}
.powerfulltext {
  margin: 0% 10% 0 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.list ul {
  list-style: none;
}
.list ul li {
  font-size: 0.85em;
  margin-top: 3%;
}

.list ul li:before {
  content: "✓";
  color: #7200e5;
  margin-right: 10px;
}
.list {
  margin: 5% 0% 0 -10%;
}
@media only screen and (max-width: 425px){
  .powerfull {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 280%;
    position: absolute;
    top: 600%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(233, 255, 255);
  }
  .phone1 {
    height: 500px;
    width: 200px;
  }
  }
