.grid-container5 {
  display: grid;
  grid-template-columns: auto;
  margin: -20% 20% 0 20%;
}
.subscribe {
  background-image: url(../../img/newsletter-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 80%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 925%;
  right: 1%;
  left: 1%;
  color: #111;

  z-index: 10;
}
.icondesc5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
}

.icondesc5 img {
  width: 220px;
}
input {
  background: #fff;
  color: #525865;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1em;
  text-align: center;
  line-height: 1.45;
  outline: none;
  padding: 0.4em 1.2em 0.45em;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
}
input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
input:focus {
  color: #4b515d;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}
.subscribetitle {
  margin: 5%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 20%;
}
.subscribetitle p {
  margin: 0 14% 0 14%;
}

.subscribetitle h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
.subscribe p {
  text-align: center;
}

hr {
  width: 60px;
  color: #7200e5;
}

.btn-grad5 {
  background-image: linear-gradient(
    to right,
    #7200e5 0%,
    #3b14c9 51%,
    #3b14c9 100%
  );
}
.btn-grad5 {
  margin-top: 10px;
  padding: 12px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 9px;
  border: none;
  display: block;
  margin-bottom: 10%;
}

.btn-grad5:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 425px) {
  .subscribe {
    background-image: url(../../img/newsletter-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    position: absolute;
    top: 1800%;
    right: 1%;
    left: 1%;
    color: #111;

    z-index: 10;
  }

  input {
    margin-top: 20%;
    margin-left: -20%;
  }
  .btn-grad5 {
    margin-left: -20%;
  }
  .icondesc5 img {
    margin-top: 150%;
  }
}
