.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 12%;

  padding: 5%;
}
.challenge {
  display: flex;
  flex-direction: column;

  height: 10%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;

  right: 10%;
  left: 15%;
  z-index: 10;
}
.icondesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icondesc p {
  text-align: center;
  width: 200px;
}

.challengetitle {
  margin: 0% 0% 7% 0%;
  text-align: center;
}
.challengetitle p {
  margin: 0 14% 0 12%;
}

.challengetitle h1 {
  font-size: 3em;
  margin-bottom: 1%;
}

hr {
  width: 60px;
  color: #7200e5;
}

@media only screen and (max-width: 425px){
  .challenge {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 5%;
    position: absolute;
    top: 400%;
    right: 10%;
 
   
  }
  .phone {
    height: 500px;
    width: 300px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2%;
    margin-left: 10%;
  
  }
  }
