.grid-container6 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10%;

  padding: 5%;
}
.form {
  display: flex;
  flex-direction: column;

  height: 10%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 1000%;
  right: 10%;
  left: 10%;
  z-index: 10;
}
.icondesc6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -20%;
}
.icondesc6 p {
  text-align: center;
  width: 400px;
}

.formtitle {
  margin: 0% 0% 0% 0%;
  text-align: center;
}
.formtitle p {
  margin: 0 14% 0 12%;
}

.formtitle h1 {
  font-size: 3em;
  margin-bottom: 1%;
}

hr {
  width: 60px;
  color: #7200e5;
}

.icondesc6 input {
  background: #fff;
  color: #525865;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 0px 10px 20px rgb(197, 197, 197);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  text-align: start;
  outline: none;
  padding: 0.4em 1.2em 0.45em;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
  width: 100%;
  margin-bottom: 5%;
}
.icondesc6 textarea {
  background: #fff;
  color: #525865;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 0px 10px 20px rgb(197, 197, 197);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  resize: none;
  outline: none;
  padding: 0.4em 1.2em 0.45em;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
  width: 100%;
  margin-bottom: 5%;
}
.icondesc6 input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
.icondesc6 input:focus {
  color: #4b515d;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

.btn-grad7 {
  background-image: linear-gradient(
    to right,
    #7200e5 0%,
    #3b14c9 51%,
    #3b14c9 100%
  );
}
.btn-grad7 {
  padding: 19px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 9px;
  border: none;
  display: block;
  margin-bottom: 10%;
  width: 110%;
}

.btn-grad7:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 425px) {
  .grid-container6 {
    grid-template-columns: auto;
  }
  .form {
    top: 1900%;

    z-index: 10;
  }
  .icondesc6 {
    margin-left: 5%;
  }
  .icondesc6 p {
    text-align: center;
    width: 300px;
      margin-bottom: 10%;
  }
  .icondesc6 textarea {
 
margin-left: -10%;
  
  }
  .icondesc6 input {

    width: 100%;
   margin-left: -10%;
  }
  .btn-grad7 {
margin-left: -7%;
  }
}
