.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 3%;
margin-right: 0 2% 0 2%;
}
.codechallenge {
  display: flex;
  flex-direction: column;
  background-color: #7200e5;
  height: "100%";
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 560%;
  right: 1%;
  left: 1%;
  color: #ffffff;

  z-index: 10;
}
.icondesc1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icondesc1 p {
  text-align: center;
  width: 200px;
}
.icondesc1 h2 {
  width: 220px;
}

.codechallengetitle {
  margin: 5%;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 10%;
}
.codechallengetitle p {
  margin: 0 12% 0 12%;
}

.codechallengetitle h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

hr {
  width: 60px;
  color: #7200e5;
}


@media only screen and (max-width: 425px){
  .codechallenge {
    display: flex;
    flex-direction: column;
    background-color: #7200e5;
   
    
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 1160%;
   
    color: #ffffff;
  
    z-index: 10;
  }

  .grid-container1 {
    display: grid;
    grid-template-columns: auto;
    margin-left: 17%;
  
  
  }
  .arrow {
    display:none
  }
  }
