.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 5%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 10;
}
.phone {
  height: 600px;
  width: 400px;
}
.introtext {
  margin: 5% 15% 0 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
}
.introtext p {
  margin: -3% -15% 0 0%;
  font-size: 0.6em;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #7200e5 0%,
    #9e21f2 51%,
    #4e4376 100%
  );
}
.btn-grad {
  margin-top: 30px;
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  border: none;
  display: block;
  margin-bottom: 10%;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 425px){
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 5%;
    position: absolute;
    top: 100%;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
  }
  .phone {
    height: 500px;
    width: 300px;
  }
  .intro img{
    margin-left: 20%;
  }
  }
