.grid-container4 {
  display: grid;
  grid-template-columns: auto auto ;
  margin: -15% 25% 0 25%;
}
.devices {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgba(17, 0, 95, 0.616),
      rgba(32, 10, 128, 0.699)
    ),
    url("../../img//download-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 80%;
  padding-left: 15%;
  padding-right: 15%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 851%;
  right: 1%;
  left: 1%;
  color: #ffffff;

  z-index: 10;
}
.icondesc4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
}

.icondesc4 img {
  width: 220px;
}

.devicestitle {
  margin: 5%;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 20%;
}
.devicestitle p {
  margin: 0 4% 0 4%;
}

.devicestitle h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
.devices p{
    text-align: center;
}

hr {
  width: 60px;
  color: #7200e5;
}


@media only screen and (max-width: 425px){
  .grid-container4 {
    display: grid;
    grid-template-columns: auto auto ;
    margin: 0% 0% 0 -0%;
  }
  .devices {
  
    position: absolute;
    top: 1680%;
    right: 1%;
    left: 1%;
    color: #ffffff;
  height: 100%;
    z-index: 10;
  }
  .icondesc4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50%;
  }
  .devicestitle {
    font-size: .8em;
    text-align: center;
  }
  .icondesc4 img {
    width: 120px;
    margin-left: 10%;
  }
  .devices p{
 margin-top: -8%;
}
  }
