.friends {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 440%;
    right: 10%;
    left: 10%;
  
    z-index: 10;
  }
  .phone3 {
      margin-top: 5%  ;
    height: 500px;
    width: 300px;
  }
  .friendstext {
    margin: 0% 20% 0 12%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
  }
  .friendstext p {
    margin: 3% 15% 0 0%;
    font-size: 0.6em;
  }
  .friendslist ul li {
    list-style: none;
    font-size: 0.7em;
    margin-top: 4%;
  }
 
  
  @media only screen and (max-width: 425px){
    .friends {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 5%;
      position: absolute;
      top:1020%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
     
    }
    .phone3 {
      height: 400px;
      width: 200px;
      margin-left:20% ;
    }
    .friendstext {
      margin: 0% 2% 0 2%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.7em;
    }
    .friendstext p {
      margin: 3% 5% 0 0%;
      font-size: 0.6em;
    }
    }
