.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0% 22% 0% 22%;
  grid-gap: 18%;

  padding: 5%;
}
.basma {
  
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 255, 255);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 680%;
  right: 1%;
  left: 1%;
  z-index: 10;
}
.icondesc2 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(255, 255, 255);
  padding: 15% 15% 0% 15%;
  border-radius: 5%;
}
.icondesc2 p {
  text-align: center;
  width: 200px;
}

.basmatitle {
  margin: 0% 15% 3% 15%;
  text-align: center;
}
.basmatitle p {
  margin: 0 14% 0 12%;
}

.basmatitle h1 {
  font-size: 3em;
  margin-bottom: 1%;
}

hr {
  width: 60px;
  color: #7200e5;
}
.icondesc2 hr {
  width: 200px;
  color: #ffffff;
}

.icondesc2 h2 {
  text-align: center;
  margin-bottom: -5%;
}
.icondesc2 p {
  margin-bottom: -2%;
}
 a {

  color: rgb(0, 0, 0);
}
.icondesc2 h1 {
  text-align: center;
  color: #7200e5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-grad3 {
  background-image: linear-gradient(
    to right,
    #7200e5 0%,
    #9e21f2 51%,
    #4e4376 100%
  );
}
.btn-grad3 {
  padding: 10px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  border: none;
  display: block;
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: -10%;
  width: 100px;
}
.contact {
  text-align: center;
}

.btn-grad3:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 425px) {
  .basma {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 1368%;
    right: 1%;
    left: 1%;
    z-index: 10;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto;
    
  }
  .icondesc2 {
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    margin-left: -15%;
  }

  .contact {
    margin-top: 45%;
    text-align: center;
  }
}
